@import url("https://bootswatch.com/4/cosmo/bootstrap.min.css");

$theme-colors: (
  "primary": rgb(4, 52, 88),
  "dark": rgb(4, 52, 88)
);

body, #root {
  // min-height: 100vh;
  height: 100vh;
}
.App {
  // height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Header {
  min-height: 13vh;
  flex: 1;
}
.MainContent {
  min-height: 73vh;
  flex: 6;
}

.LoginRegisterBox {
  // TODO: complete this stylesheet for the two boxes responsiveness
  flex: 1
}


.Footer {
  $color: map-get($theme-colors, primary);
  min-height: 14vh;
  flex: 1.2;
  background-color: $color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .FooterContainer {
    a {
      // text-decoration: underline;
      color: 'white' !important;
    }
  }
}

center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  height: 100%;
  display: flex;
  width: 100%;
}

li.nav-item {
  cursor: pointer;
}

nav.navbar.navbar-expand-md.navbar-dark.bg-dark {
  background-color: rgb(4, 52, 88) !important;
}

// the button styles
.btn-secondary {
  $color: map-get($theme-colors, primary);
  background-color: $color;
  &:hover {
    background-color: lighten($color, 10%);
  }
}

.btn-link {
  $color: map-get($theme-colors, primary);
  color: $color;
  &:hover {
    color: lighten($color, 10%);
  }
}
